@import "./../../../styles/variables.scss";

.main-page-content {
  margin: 5.93rem 4.87rem 7.5rem 32.83rem;
  width: 98.9rem;
  height: 63.37rem;
}

.main-page-loader-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  &--error {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.main-page-loader-error__text {
  font-size: 4rem;
  color: $dark-orange;
}

.main-page-loader-error__btn-wrapper {
  width: 14.1rem;
}
