@import "./functions.scss";
@import "./variables.scss";

@font-face {
  font-family: Roboto;
  src: url("./../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url("./../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("./../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("./../fonts/Roboto-Light.ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

@media (max-width: 1366px) {
  html {
    font-size: calc-vw(10);
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea:focus,
input:focus {
  outline: none;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container__content {
  width: 136.6rem;
  height: 76.8rem;
  &--main-page {
    background-image: url("./../backgrounds/main.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
  }
  &--details {
    background: url("./../backgrounds/details.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  @media (max-width: 1366px) {
    width: 100%;
    height: 108rem;
  }
}

.loader {
  width: 10rem;
  height: 10rem;
  border: 1.6rem solid $light-sand-yellow;
  border-radius: 50%;
  border-top: 1.6rem solid $dark-orange;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
