@import "./functions.scss";

* {
  box-sizing: border-box;
}

html {
    font-size: 10px; 
}

@media (max-width: 1366px) { 
   html { 
       font-size: calc-vw(10);
   }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container__content {
  width: 136.6rem;
  height: 76.8rem;
  &--main-page {
    background: url("./../backgrounds/main.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
  }
  &--details {
    background: url("./../backgrounds/details.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  @media (max-width: 1366px) {
    width: 100%;
    height: 108rem;
  }
}
