@import "./../../../styles/variables.scss";

.search-field {
  width: 100%;
  height: 3.3rem;
  border-radius: 4.4rem;
  background-color: #193247;
  position: relative;
}

.search-field__icon {
  width: 2.19rem;
  height: 2.48rem;
  margin: 0.41rem 0.33rem 0.41rem 0.78rem;
}

.search-field__input {
  width: calc(100% - 7.5rem);
  height: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  position: absolute;
  color: $sand-yellow;
  background: inherit;
  font-size: 1.5rem;
  border: none;
  &::placeholder {
    color: $sand-yellow;
    font-size: 1.5rem;
  }
}
